<mat-card>
    <div ><h1 class="textalign">Post Assessment</h1></div>
    <div class="align_header">
        <mat-label>Name:
            <div>John</div></mat-label>
        <mat-label>DOB:
        <div>10/12/1970</div></mat-label>
        <mat-label>Age:
        <div>51</div></mat-label>
        <mat-label>Need Caregiver:
        <div>Yes</div></mat-label>
        <mat-label>Focus on Visit:
        <div>Medications</div></mat-label>
        <mat-label>Emergency Room Visits:
        <div>No</div></mat-label>
        <mat-label>Assistive device:
        <div>No</div></mat-label>
        <mat-label>Outside services:
        <div>Yes</div></mat-label>
        
      </div>
    </mat-card>
