<div class="assistant">
    <div class="boxContainer">
        <div class="box box1" *ngIf="showmic"></div>
        <div class="box box2" *ngIf="showmic"></div>
        <div class="box box3" *ngIf="showmic"></div>
        <div class="box box4" *ngIf="showmic"></div>
        <div class="box box5" *ngIf="showmic"></div>
        <div class="box box6" *ngIf="showmic"></div>
        <i class="fa fa-microphone fa_custom fa-4x align_mic" (click)="start_mic()"></i>
        <div class="box box7" *ngIf="showmic"></div>
        <div class="box box8" *ngIf="showmic"></div>
        <div class="box box9" *ngIf="showmic"></div>
        <div class="box box10" *ngIf="showmic"></div>
        <div class="box box11" *ngIf="showmic"></div>
        <div class="box box12" *ngIf="showmic"></div>
    </div>
    
      <!-- <i class="fa fa-microphone fa-5x"></i> -->
    </div> 
