<br>
<br>
<div class="centerPanel">
    <mat-card id="demo-asses" class="example-card">
        <mat-card-title>Member Assesment</mat-card-title>
        <mat-card-content>
            <br>
            <mat-label>Weight :</mat-label>
            <mat-label>{{utilService.physicalAssesment.weight}} Kg</mat-label>
            <br>
            <mat-label>Height :</mat-label>
            <mat-label>{{utilService.physicalAssesment.height}} cm</mat-label>
            <br>
            <mat-label>Temperature :</mat-label>
            <mat-label>{{utilService.physicalAssesment.temp}} F</mat-label>
            <br>
            <mat-label>Blood Pressure :</mat-label>
            <mat-label>{{utilService.physicalAssesment.bp}}</mat-label>
            <br>
            <mat-label>Bowel :</mat-label>
            <mat-label>{{utilService.habitAssesment.bowel}}</mat-label>
            <br>
            <mat-label>Bladder :</mat-label>
            <mat-label>{{utilService.habitAssesment.bladder}}</mat-label>
            <br>
            <mat-label>Grooming :</mat-label>
            <mat-label>{{utilService.habitAssesment.grooming}}</mat-label>
            <br>
            <mat-label>Feeding :</mat-label>
            <mat-label>{{utilService.habitAssesment.feeding}}</mat-label>
            <br>
        </mat-card-content>
        <mat-card-footer>
            Thanks for providing the assesments
        </mat-card-footer>
    </mat-card>
</div>
