<div class="centerPanel" *ngIf="!startNext">
    <button mat-icon-button color="primary" class="button_align" *ngIf="!startDemographic" (click)="startAssesment()"><mat-icon>mic</mat-icon></button>
    <button mat-icon-button color="accent" class="button_align" *ngIf="startDemographic" (click)="submitAssesment()"><mat-icon>mic</mat-icon></button>
    <mat-card id="demo-asses" class="example-card blink_me" [ngClass]="{'blink_me': startDemographic}">
      <h1>Physical Assesment</h1>
      <mat-spinner class="spinner" *ngIf="loader"></mat-spinner>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Weight</mat-label>
          <input matInput [formControl]="weight">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput [formControl]="height">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Temparature</mat-label>
            <input matInput [formControl]="temperature">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Blood Pressure</mat-label>
            <input matInput [formControl]="bloodPressure">
          </mat-form-field>
        </form>
      </mat-card>
      
      <br>
      
      </div>